<section class="info-section">
  <h2>Información Personal</h2>
  <p>
    Soy un desarrollador de software apasionado con amplia experiencia en el
    desarrollo de soluciones tecnológicas eficaces tanto en el frontend como en
    el backend. Mi especialización se centra en Angular, donde poseo un
    conocimiento profundo y práctico, utilizado en la creación de interfaces de
    usuario dinámicas y responsivas. También tengo una sólida base en Java,
    Spring Boot, y manejo de bases de datos SQL, lo cual me permite aportar una
    visión integral al desarrollo de proyectos. Estoy familiarizado con las
    prácticas de desarrollo ágil y tengo un historial probado de contribuir
    eficazmente en equipos multidisciplinarios, optimizando flujos de trabajo a
    través de Git para la gestión de versiones. Busco oportunidades donde pueda
    aplicar mis habilidades en frontend y backend y expandir mis conocimientos
    contribuyendo al éxito de proyectos innovadores.
  </p>
  <p>
    Gustavo Gonzalez<br />
    correo electronico: gustafff93s&#64;gmail.com
    <button class="copy-icon" (click)="copyEmail()">
      <img
        src="https://img.icons8.com/ios-glyphs/30/000000/copy.png"
        alt="Copiar"
      />
    </button>
  </p>
</section>
